<!DOCTYPE html>
<html>
	<head>
		<title>Create</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="../styles/register.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<body>
        <div class="container-full">
            <div class="col-xs-6">
                <!--<center><h3>Feed</h3></center>-->
                <center><img src="../data/redditLogo.png" width="88px" height="30px" class="redditLogo"></center>
            </div>
            <div id="createLink" class="col-xs-6">
                <center><h3>Create</h3></center>
            </div>
        </div>

        <div class="card">
            <br>
            <br>
            <div class="card-body">
                <br>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    <div class = "d-flex align-self-center mainBlock">
                        <form action="">
                            <br>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                            <br>
                            <textarea class="form-control" rows="4" placeholder="Content"></textarea>
                            <br>
                        <button type="button" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                <div class="col-xs-2">
                </div>
                <br>
            </div>
        </div>
	</body>
</html>