<!DOCTYPE html>
<html>
	<head>
		<title>Create</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<body>
        <div class="container-full">
            <div class="col-xs-6">
                <!--<center><h3>Feed</h3></center>-->
                <center><a href="../{{hashedcode}}/feed"><img src="{{ url_for('static', filename='data/redditLogo.png') }}" width="88px" height="30px" class="redditLogo"></a></center>
            </div>
            <div id="createLink" class="col-xs-6">
                <center><h3>Create</h3></center>
            </div>
        </div>

        <div class="card">
            <br>
            <br>
            <div class="card-body">
                <br>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    <div class = "d-flex align-self-center mainBlock">
                        <form action="{{ '/' + hashedcode + '/submit_post' }}" method="POST" id = "form">
                            <br>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                            <br>
                            <textarea class="form-control" rows="4" name="content" placeholder="Content"></textarea>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Post">
                        </form>
                    </div>
                <div class="col-xs-2">
                </div>
                <br>
            </div>
        </div>
	</body>
</html>