<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<body>
        <div class="container-full">
            <div class="col-xs-6">
                <!--<center><h3>Feed</h3></center>-->
                <center><img src="{{ url_for('static', filename='data/redditLogo.png') }}" width="88px" height="30px" class="redditLogo"></center>
            </div>
            <div id="createLink" class="col-xs-6">
                <center><h3>Create Post</h3></center>
            </div>
        </div>

        <!-- START FOR LOOP HERE -->

        <div class="card">
            <div class="card-body">
                <br>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    <div class="container-full">
                        <div class="titleDeleteRow row">
                            <div class="col-xs-10">
                                <h4>Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title </h4>
                            </div>
                            <div class="delete col-xs-2">
                                <center><p>delete</p></center>
                            </div>
                        </div>
                    </div>
                    <p>paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph </p>
                    <div class="postFooter">
                        <div class="col-xs-6">
                            <p><img src="{{ url_for('static', filename='data/Upvote.png') }}" width="15px" height="15px">&nbsp&nbsp<img class="votingImages" src="{{ url_for('static', filename='data/Downvote.png') }}" width="15px" height="15px">&nbsp&nbsp512</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="timeStamp">8 hours ago</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
                <br>
            </div>
        </div>

        <!-- END FOR LOOP HERE -->

	</body>
</html>